name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go: [1.25.x, 1.24.x]
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Test
        run: go test ./...
      - name: Test with GOARCH=386
        run: env GOARCH=386 go test -v ./...
        if: matrix.os != 'macos-latest'
      - name: Lint
        run: |
          go vet ./...
          go install honnef.co/go/tools/cmd/staticcheck@latest
          staticcheck -checks all -tags gojq_debug ./...
      - name: Check tools
        run: go run _tools/print_builtin.go
      - name: Check go generate
        run: go generate && ! git diff | grep ^
        shell: bash